# Explicitly include .tmp directories
!**/.tmp/
!**/.tmp/**

# Exclude Docker-related files
Dockerfile*
docker-compose.yaml
.gitlab-ci*
.dockerignore

# Optional: exclude other unnecessary files
**/__pycache__
**/*.pyc
**/.DS_Store
